* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
}

.navbar.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 230px;
  margin-left: 10px;
}
.search {
  display: flex;
  border: 1px solid #cccccc;
  width: 500px;
}
.search input {
  border: none;
  width: 100%;
  padding-left: 15px;
}
.search button {
  border: none;
  border-left: 1px solid #cccccc;
  width: 10%;
}
.logout {
  margin-right: 100px;
}

.content-container {
  margin-top: 25px;
}
.banner-wrap {
  background-image: url(./assets/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  border-bottom: 10px solid #cccccc;
  border-top: 10px solid #cccccc;
}
.banner-wrap h1 {
  display: flex;
  justify-content: center;
}
.banner-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.patient-button{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}
